<div id="venda-page">
    <div class="container">
    <button class="btn btn-blue"><a href="/vendas">Voltar</a></button>
  </div>
  <div class="container">
        <h2>{{venda.id}}</h2>
        <p>{{venda.cpf}}</p>
        <p>{{venda.id_prescricao}}</p>
        <p>{{venda.id_produto}}</p>
        <p>{{venda.quantidade}}</p>
        <p>{{venda.preco_unitario}}</p>
        <p>{{dateFormat venda.data_venda "HH:mm:ss"}}</p>
        <div class="actions">
        <a href="/vendas/edit/{{venda.cpf}}">Editar</a>
        <form action="/vendas/remove/{{venda.cpf}}" method="POST">
        <input type="submit" value="Remover">
        </form>
      </div>
    </div>
  </div>